footer
{
	font-size: 1.5em;
	position: fixed;
	bottom: 0px;
	width: 100vw;
	text-align: center;
	height: 1.2em;
	line-height: 1.2em;
	background-color: #333333;
	color: #898989;
}

.email,
.email a
{
	color: #898989;
	font-weight: bold;
}
